<div class= "post-card">
    <h4>
    <%= link_to "Post ##{post.id}", "/users/#{@user.id}/posts/#{post.id}" %>
    </h4>
    <p><%= post.title %></p>
    <%= truncate(post.text, length: 50, separator: ' ') %><br><br>
    <p class="post_counter"><span> comments: <%= post.commentscounter %></span></p>
    <p class="post_counter"><span> likes: <%= post.likescounter %></span></p>
</div>